langchain
langgraph
langchain-openai
fastapi
uvicorn
qdrant-client==1.19.0
sentence-transformers
python-dotenv
sqlalchemy
psycopg2-binary
boto3
requests
pandas
pydantic
httpx
fastmcp
apscheduler
sqlparse
